.todo-container {
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(240 242 245);
  text-align: center;
  padding-bottom: 2rem;
}

.task-input {
  padding: 0.5rem;
  font-size: 30px;
  font-weight: 300;
  height: 100%;
  width: 395px;
}

.newtask-container,
.items-container {
  margin: 0 auto;
}

.task-items {
  margin: 0.3rem;
  padding: 0.5rem;
  font-size: 30px;
  font-weight: 300;
  height: 100%;
}
.btn-delete {
  font-size: 30px;
  padding: 0.5rem;
  color: white;
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: #cc0000;
}

.btn-newtask {
  padding: 0 15px;
  height: 3.4rem;
  font-size: 30px;
  outline: none;
  border: 0;
  box-shadow: none;
  color:white;
  background-color: #42b72a;
}

.active {
  color: green;
}
